<launch>
  <arg name="ROBOT" default="pr2" />
  <arg name="use_mic_c1" default="false"/>
  <arg name="use_mic_c2" default="false"/>
  <include file="$(find pr2_machine)/$(arg ROBOT).machine" />
  <node name="pr2_hark" pkg="jsk_pr2_startup"
        type="microcone_localization_MFCC.sh" output="log"
        machine="c1"
        if="$(arg use_mic_c1)"
        />
  <node name="pr2_hark" pkg="jsk_pr2_startup"
        type="microcone_localization_MFCC.sh" output="log"
        machine="c2"
        if="$(arg use_mic_c2)"
        />
</launch>
