<launch>
  <arg name="load_driver" default="true" doc="launch driver set to false on gazebo"/>
  <arg name="respawn" default="true" />
  <arg name="use_c2" default="true" doc="Launch nodes for registration on C2"/>
  <arg name="deprecated_relay" default="true" doc="advertise to deprecated kinect_head_c2 ns"/>
  <arg name="camera" default="kinect_head" />
  <arg name="num_worker_threads" default="8" />

  <arg unless="$(arg use_c2)" name="manager" default="kinect_head_nodelet_manager" />
  <arg     if="$(arg use_c2)" name="manager" default="kinect_head_c2_nodelet_manager" />

  <arg unless="$(arg use_c2)" name="registration_c1" default="true" />
  <arg     if="$(arg use_c2)" name="registration_c1" default="false" />

  <arg unless="$(arg use_c2)" name="machine" default="c1" />
  <arg     if="$(arg use_c2)" name="machine" default="c2" />

  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <!-- openni driver on C1 -->
  <param name="/kinect_head/driver/depth_ir_offset_x" value="4.5" />
  <param name="/kinect_head/driver/depth_ir_offset_y" value="2.5" />
  <include file="$(find openni_launch)/launch/openni.launch"
           if="$(arg load_driver)">
    <arg name="camera" value="$(arg camera)"/>
    <arg name="num_worker_threads" value="$(arg num_worker_threads)" />
    <arg name="rgb_frame_id" value="/head_mount_kinect_rgb_optical_frame" />
    <arg name="depth_frame_id" value="/head_mount_kinect_ir_optical_frame" />
    <arg name="respawn" value="false" />
    <arg name="publish_tf" value="false"/>
    <arg name="depth_registration" value="true"/>
    <arg name="rgb_processing"                  value="$(arg registration_c1)"/>
    <arg name="ir_processing"                   value="$(arg registration_c1)"/>
    <arg name="depth_processing"                value="$(arg registration_c1)"/>
    <arg name="depth_registered_processing"     value="$(arg registration_c1)"/>
    <arg name="disparity_processing"            value="$(arg registration_c1)"/>
    <arg name="disparity_registered_processing" value="$(arg registration_c1)"/>
    <arg name="hw_registered_processing"        value="true" />
    <arg name="sw_registered_processing"        value="false" />
  </include>

  <!-- depth registration on C2 -->
  <node if="$(arg use_c2)"
        pkg="jsk_pr2_startup" type="kinect_head_c2.sh" name="kinect_head_c2_launch"
        args="camera:=$(arg camera)
              load_driver:=false
              publish_tf:=false
              depth_registration:=true
              respawn:=$(arg respawn)
              manager:=$(arg manager)
              deprecated_relay:=$(arg deprecated_relay)
              num_worker_threads:=$(arg num_worker_threads)"
        machine="c2" output="screen" />

  <!-- nodelet manager for gazebo -->
  <node ns="$(arg camera)" name="$(arg manager)"
        pkg="nodelet" type="nodelet" args="manager"
        unless="$(arg load_driver)" />

  <!-- downsample and throttle rgb image -->
  <group ns="$(arg camera)">
    <group ns="rgb">
      <group ns="half">
        <node pkg="nodelet" type="nodelet" name="resize"
              machine="$(arg machine)"
              args="load resized_image_transport/ImageResizer /$(arg camera)/$(arg manager)">
          <remap from="~input/image" to="/$(arg camera)/rgb/image_rect_color" />
          <remap from="~output/image" to="image_rect_color" />
          <rosparam>
            resize_scale_x: 0.5
            resize_scale_y: 0.5
          </rosparam>
        </node>
        <node pkg="nodelet" type="nodelet" name="throttle"
              machine="$(arg machine)"
              args="load jsk_topic_tools/LightweightThrottle /$(arg camera)/$(arg manager)">
          <remap from="~input" to="image_rect_color" />
          <remap from="~output" to="image_rect_color_throttled" />
          <param name="update_rate" value="3.0" />
        </node>
      </group>
      <group ns="quater">
        <node pkg="nodelet" type="nodelet" name="resize"
              machine="$(arg machine)"
              args="load resized_image_transport/ImageResizer /$(arg camera)/$(arg manager)">
          <remap from="~input/image" to="/$(arg camera)/rgb/image_rect_color" />
          <remap from="~output/image" to="image_rect_color" />
          <rosparam>
            resize_scale_x: 0.25
            resize_scale_y: 0.25
          </rosparam>
        </node>
        <node pkg="nodelet" type="nodelet" name="throttle"
              machine="$(arg machine)"
              args="load jsk_topic_tools/LightweightThrottle /$(arg camera)/$(arg manager)">
          <remap from="~input" to="image_rect_color" />
          <remap from="~output" to="image_rect_color_throttled" />
          <param name="update_rate" value="3.0" />
        </node>
      </group>
    </group>
  </group>

  <!-- downsample and throttle point cloud -->
  <group ns="$(arg camera)">
    <group ns="depth_registered">
      <group ns="half">
        <node pkg="nodelet" type="nodelet" name="resize"
              machine="$(arg machine)"
              args="load jsk_pcl/ResizePointsPublisher /$(arg camera)/$(arg manager)">
          <remap from="~input" to="/$(arg camera)/depth_registered/points" />
          <remap from="~output" to="points" />
          <param name="step_x" value="2" />
          <param name="step_y" value="2" />
        </node>
        <node pkg="nodelet" type="nodelet" name="throttle"
              machine="$(arg machine)"
              args="load jsk_topic_tools/LightweightThrottle /$(arg camera)/$(arg manager)">
          <remap from="~input" to="points" />
          <remap from="~output" to="points_throttled" />
          <param name="update_rate" value="3.0" />
        </node>
      </group>
      <group ns="quater">
        <node pkg="nodelet" type="nodelet" name="resize"
              machine="$(arg machine)"
              args="load jsk_pcl/ResizePointsPublisher /$(arg camera)/$(arg manager)">
          <remap from="~input" to="/$(arg camera)/depth_registered/points" />
          <remap from="~output" to="points" />
          <param name="step_x" value="4" />
          <param name="step_y" value="4" />
        </node>
        <node pkg="nodelet" type="nodelet" name="throttle"
              machine="$(arg machine)"
              args="load jsk_topic_tools/LightweightThrottle /$(arg camera)/$(arg manager)">
          <remap from="~input" to="points" />
          <remap from="~output" to="points_throttled" />
          <param name="update_rate" value="3.0" />
        </node>
      </group>
    </group>
  </group>

  <!-- monitor kinect rgb and reset usb and respawn node on error -->
  <group if="$(arg respawn)">
    <node pkg="jsk_pr2_startup" name="check_openni_node" type="check_openni_node.py"
          output="screen" machine="c1" if="$(arg load_driver)">
      <param name="camera" value="$(arg camera)" />
      <param name="sleep_cycle" value="60" />
      <remap from="image" to="/$(arg camera)/rgb/image_rect_color" />
    </node>
  </group>

  <!-- self filter -->
  <include file="$(find jsk_pr2_startup)/jsk_pr2_sensors/kinect_head_self_filter.launch">
    <arg name="respawn" value="$(arg respawn)"/>
    <arg name="camera" value="$(arg camera)" />
    <arg name="machine" value="$(arg machine)" />
  </include>
</launch>
